<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header"><script src="systems/kult4e/scripts/delete.js"></script><script src="systems/kult4e/scripts/getAttribute.js"></script>
        <img src="systems/earthdawn4e/assets/logo.png" height="120" width="120">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>
    <div class="attribute-box">
        <div>Dexterity:<input name="data.attributes.dexterityvalue" type="text" value="{{data.attributes.dexterityvalue}}"><input name="dexteritystep" type="text" readonly="true" value="{{data.attributes.dexterityvalue}}"></div>
        <div>Strength:<input name="data.attributes.strengthvalue" type="text" value="{{data.attributes.strengthvalue}}"><input name="strengthstep" type="text" readonly="true" value="{{data.attributes.strengthvalue}}"></div>

    </div>